@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-none {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE/Edge */
    }
  
    .scrollbar-none::-webkit-scrollbar {
      display: none; /* Chrome/Safari */
    }
  }
*{
    margin: 0;
    padding: 0;
}
/* index.css */
.bg-gradient-img {
  background: url("/Mojito.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-dark {
  background-color: #111827; /* dark gray tone */
}


::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    background: #121212;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: #242424;
}


  @keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes typewriter {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  .animate-typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typewriter 1.5s steps(30) 0.5s 1 normal both;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    opacity: 0; /* Make the element invisible initially */
    animation: fadeIn 2s ease-out forwards; /* Apply fade-in animation with forwards to keep the final state */
  }
  
  @keyframes zoomIn {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .zoom-in {
    animation: zoomIn 0.5s ease-out forwards;
  }
  


  @keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}
